/* $nombre: valor */

$color-li: black;
$color-hover-caja1: rgb(237, 202, 213);
$color-tipograf1: rgb(42, 39, 39);
$color-tipograf2: rgb(53, 52, 52);
$color-tipograf3: black;
$color-subrayado: rgb(232, 151, 174);
$color-form-grid: rgb(229, 144, 189);
$color-focus-border: rgb(164, 241, 216);
$color-button: rgb(239, 167, 167);
$color-card: #08afbe;

/*medidas*/
$med-primaria: 0.5rem;
$med-secundaria: 1rem;
$med-terciaria: 1.5rem;

$padding-title: 2rem;
$height-img: 15rem;

$fontsize-title: 4rem;
$fontsize-nav: 2rem;
$fontsize-form-card: 1.5rem;
$fontsize-tipog2-item: 2.5rem;
$fontsize-tipog3: 1.5rem;
$fontsize-footer: 1rem;

/* deco texto*/
$style-nav: none;
$align-text: center;

$font-montserrat: "Montserrat", sans-serif;
$deco-subrayado: underline;
$font-lato: "Lato", sans-serif;
$align-button: flex-end;


/*media queries*/
$med-mobile:  768px;












