@use "../utilities/variables" as *;
@use "../utilities/mixin" as *;
@use "../utilities/extend" as *;
@use "../componentes/botones" as *;
@use "../componentes/cards" as *;

form{
    @include flex (center, center);
    /*
    display: flex;
    justify-content: center;
    align-items: center;*/
    flex-direction: column; /* Pone un campo debajo del otro */
    gap: $med-primaria;              /* Separa las celdas equitativamente */
    max-width: 50rem;
    width: 100%;
    margin: auto;
    border: solid rgb(78, 78, 78);
    background-color: $color-form-grid;

        @include mobile{
            margin: auto;
        }

    &:focus{
    border-color: $color-focus-border;
    box-shadow: $med-primaria $med-primaria $color-focus-border; /*usado para dar el efecto 3D*/
}

input, textarea, label {
    font-size: $med-terciaria;
    font-family: $font-lato;

    @include flex (center, center);

    @include windows{
        width: 100%;
    }
}
}
h3{
    text-decoration: $deco-subrayado;
}

.contenedor{
    @include flex(center, center);
}


.tipografia2 {
    font-size: $fontsize-tipog2-item;
    text-align: $align-text;
    color: $color-tipograf2;
    background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);
    font-family: $font-montserrat;

    @include mobile{
        font-size: 1.5rem;
        margin: 1rem;
    }

    .montserrat{
    font-family: $font-montserrat;
}
}


.tipografia3{
    font-size: $med-terciaria;
    text-align: $align-text;
    color: $color-tipograf3;
    font-family: $font-lato;
    margin:$med-primaria;
    padding: $med-primaria;

    .lato {
    font-family: $font-lato;
    }
}

//seccion pagina uno
.gridAreaXY{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 90%;
    grid-template-areas: "cajaX cajaY";
    align-items: center;
    gap: $med-secundaria;
    padding: $med-primaria;

        @include mobile{
            display: block;
            align-items: $align-text;
            gap: $med-primaria;
        }

    .cajaX{
    grid-area: cajaX;
    font-size: 1.5rem;

    @include mobile{
        font-size: 1rem;
    }
    }

    .cajaY{
    grid-area: cajaY;
    border-radius: 50%;
    border: solid $color-form-grid;
    margin: auto;
}
}


//seccion pagina dos
.gridInit{
    display: grid;
    grid-template-columns: 40% 50%;
    grid-template-rows: 90%;
    grid-template-areas: "initX initY";
    align-items: center;
    gap: $med-secundaria;
    padding: $med-primaria;

        @include mobile{
            display: block;
            align-items: $align-text;
            gap: $med-primaria;
        }

    .initX{
    grid-area: initX;
    font-size: 1.5rem;
    text-align: $align-text;

    @include mobile{
        font-size: 1rem;
    }
    }

    .initY{
    grid-area: initY;
    margin: auto;
}
}


//seccion pagina dos
.grid-Area{
    display: grid;
    grid-template-columns: 1fr repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "planta planta mesa mesa"
    "planta planta  mesa mesa"
    "gato gato flor edificio"
    "gato gato flor edificio";
    margin: 0 auto;
    width: 700px;
    height: 700px;
    position: relative;
    background-color: $color-form-grid;
    gap: $med-primaria;
    padding: $med-secundaria;

        @include mobile{
            width: 80%;
            height: 80%;
            padding: 0.5rem;
        }

    img{
    @extend %contenedor-img;
    }

    .planta{
    grid-area: planta;
    border-radius: 20%;
    }

    .mesa{
    grid-area: mesa;
    object-fit: fill;
    object-position: center;
    border: $med-secundaria solid $color-focus-border;
    }

    .gato{
    grid-area: gato;
    }

    .flor{
    grid-area: flor;
    }

    .edificio{
    grid-area: edificio;
    }
}



//seccion pagina tres
.secciones{
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr, 1fr;
    grid-template-areas: "seccion1 seccion2"
    "seccion3 seccion4";
    gap: $med-secundaria;
    margin: $med-secundaria;
    padding: $med-secundaria;
    align-items: center;

    @include mobile{
            display: block;
            align-items: center;
            gap: $med-primaria;
    }

.seccion1{
    grid-area: seccion1;
    background-color: #f5d1cf;
    border-radius: 10%;
    -webkit-animation: slide-in-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
@keyframes slide-in-left {
    0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
    }
    100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    }
}
}


.seccion2{
    grid-area: seccion2;
    background-color: rgb(146, 185, 186);
    border-radius: 10%;
    -webkit-animation: slide-in-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

        @keyframes slide-in-right {
    0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
    }
    100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    }
}
}
.seccion3{
    grid-area: seccion3;
    background-color: rgb(241, 233, 165);
    border-radius: 10%;
    -webkit-animation: slide-in-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
@keyframes slide-in-left {
    0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
    }
    100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    }
}
}
.seccion4{
    grid-area: seccion4;
    background-color: #ddd6f3;
    border-radius: 10%;
    -webkit-animation: slide-in-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

        @keyframes slide-in-right {
    0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
    }
    100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    }
}
}

.tipografia4{
    font-size: $med-secundaria;
    font-family: $font-montserrat;
    text-align: $align-text;

    .montserrat{
    font-family: $font-montserrat;
}
}

.negrita{
    font-weight: bold;
    color: $color-tipograf2;
}
}

//seccion pagina tres
.gridArea1{
    display: grid;
    grid-template-columns: 50% 100%;
    grid-template-rows: 100%;
    justify-content: space-around;
    grid-template-areas: "caja1" "caja2";
    align-items: center;
    gap: $med-secundaria;
    padding: $med-primaria;

        @include mobile{
            display: block;
            align-items: center;
            gap: 0.5rem;
                iframe{
                    width: 100%;
                    height: 100%;
                }
        }

    .caja1{
    grid-area: caja1;
    font-size: 2rem;
    background-color: $color-form-grid ;
    }
    .caja2{
    grid-area: caja2;
    align-items: center;
    }
}

//seccion pagina cuatro
.item {
    @include flex (center, center);
    /*
    display: flex;
    justify-content: center;
    align-items: center;*/
    padding:$med-secundaria;
    font-size: $fontsize-tipog2-item;

    @include mobile{
        display: flex;
        justify-content: space-evenly;
        font-size: 1.5rem;
        width: 50%;
        margin: auto;
    }
}

.mapa{
    @include flex (center, center);
    /*
    display: flex;
    justify-content: center;
    align-items: center;*/
    margin: $med-secundaria;
}




